.html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: black;      
    background: white;
    overflow-x: hidden;
}

.navbar_grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    margin: auto;
    justify-content: center;
}

@media (max-width: 720px) {
    .navbar_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 500px);
        width: 100vw;
        margin-left: 5vw;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px){
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.image {
    position: relative;
    height: auto;
    margin: 2vw;
}


.image_image{
    display: block;
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
}

.image_overlay:hover {
    transition: 0.4s;
    opacity: 1;
}




h1 {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 550px) {
    h1 {
        font-size: 1.5rem;
        margin-left: 10vw;
    }
}

h2 {
    font-size: 1.2rem;
    color: grey;
    flex-wrap: wrap;
}


a {
    color: white;
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

a:hover {
    transition: 0.25s;
    text-decoration: underline
}

.fas {
    color: white;
}

.fa-github, .fa-external-link-alt {
    margin-left: 0.75vw;
}

button {
    transition: 0.25s;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    border: none;
    background-color: transparent;
    outline: none;
}

button:hover {
    transition: 0.25s;
    color: teal;
    transform: translateX(5px);
}

@media (max-width: 550px) {
    button {
        font-size: 1.75rem;
    }
}

.aboutLink {
    color: grey;
    font-size: 1.2rem;
}

.pink {
    color: #fc037b
}

.orange {
    color: #fc8403;
}

.green {
    color: #31b543;
}

.objectIndent {
    text-align: start; 
    margin-left: 5%;
    margin-right: 5%;
}

.objectIndentMax {
    text-align: start; 
    margin-left: 15%;
    margin-right: 5%;
}