.html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: black;      
    background: white;
    overflow-x: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.06206232492997199) 100%);
}

body {
    width: 100vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    margin: auto;
    justify-content: center;
}

@media (max-width: 720px) {
    .navbar_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 500px);
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.image {
    position: relative;
    height: auto;
    margin: 2vw;
}

.image_image{
    display: block;
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
}

.image_overlay:hover {
    transition: 0.25s;
    opacity: 1;
}

.image_title {
    font-size: 2em;
    font-weight: bold;
}


h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    color: grey;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

a:hover {
    transition: 0.25s;
    text-decoration: underline
}

.fas {
    color: white;
}

button {
    transition: 0.25s;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    border: none;
    background-color: transparent;
    outline: none;
}

button:hover {
    transition: 0.25s;
    color: teal;
}

.highlight {
    color: teal;
}
