.html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: white;      
    background: rgb(1,72,74);
    background: linear-gradient(180deg, rgba(1,72,74,1) 0%, rgba(0,249,255,1) 100%);
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar{
    color: white;
    text-align: center;
    margin: 1vh;
    padding: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin: 1vh;
    padding: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: none;
}

/*main title*/
h1 {
    font: inherit;
    font-size: 10vh;
    margin: 1vh;
}


h2 {
    font: inherit;
    font-size: 7.5vh;
    margin: 1vh;
    padding: none;
}

/*projects headings*/
h3 {
    font: inherit;
    font-size: 5vh;
    margin: 1vh;

}

a {
    font: inherit;
    text-decoration: none;
    color: white;
}


img {
    transition: 200ms;
    object-fit: cover;
    width:230px;
    height:100px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -12px rgba(0,0,0,0.75); 
  }

img:hover {
    transition: 400ms;
    object-fit: cover;
    width:230px;
    height:100px;
    border-radius: 10px;
    filter: grayscale(100%);
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
  }

button {
    background: none;
    font: inherit;
    font-size: 7.5vh;
    color: inherit;
    padding: none;
    margin: none;
    border: none;
}

button:hover {
    transition: 500ms;
    color: black;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}